# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.icloud

# --- VS Code ---
.vscode/
*.code-workspace

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# virtualenv
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs & cache
*.log
*.out
*.err
.mypy_cache/
.pytest_cache/
